#!/bin/bash
# 设置环境变量
export FULLNODE_API_INFO=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx:/ip4/0.0.0.0/tcp/00000/http

#TG机器人Token 和 chat_id
TG_TOKEN="0000000000:xxxxxxxxx_xxxxxxxx_xxxxxxxxxxxxxxxx"
TG_CHAT_ID="-111111111111"

# 发送消息用的代理IP 发TG消息用的代理IP
export all_proxy=http://7.8.9.10:5678

#Miner 列表 写多个矿工ID，脚本会依次检测
MINERS=(
    f01234567
    f01122334
)
